@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Inter:wght@400;700&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;500;700&display=swap');
/*
    font-family: 'DM Serif Display', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
*/

:root{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: hsl(249, 15%, 27%);
 }

header{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 5%);
    padding: 0px auto;
    height: 50px;
    
}

.navigation{  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
}

.navigation{
    gap: 24px;
}

.navigation a{
    font-family: 'Poppins';
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.icon-html5{
    font-size: 2rem;
}

.hidden{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.navigation .nv{
    transition: color 0.2s;
    position: relative;
}

.navigation .nv:hover{
    color: #e34f26;
}
